<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <!--
    <context:property-placeholder location="classpath:"/>
    <context:component-scan base-package=""/>
    <aop:aspectj-autoproxy/>
    -->
    
    <bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource"
          p:serverName="localhost" p:user="cas" p:password="mpower" p:databaseName="cas"/>


    
    <bean id="userDao" class="com.mpower.cas.repository.JdbcUserDao" p:dataSource-ref="dataSource"/>

    <bean id="auditService" class="com.mpower.cas.service.AuditServiceImpl"/>
    <bean id="passwordPolicy" class="com.mpower.cas.service.OpenSecurityPolicy"/>
    <bean id="userSearchDao" class="com.mpower.cas.repository.JdbcUserSearchDao" p:dataSource-ref="dataSource">
        <property name="columnNames">
            <list>
                <value>loginid</value>
                <value>name</value>
            </list>
        </property>
    </bean>

    <bean id="userSearchService" class="com.mpower.cas.service.UserSearchServiceImpl" p:userSearchDao-ref="userSearchDao"/>

    <bean id="userService" class="com.mpower.cas.service.UserServiceImpl"
          p:auditService-ref="auditService"
          p:passwordPolicy-ref="passwordPolicy"
          p:userDao-ref="userDao"
          p:searchService-ref="userSearchService"/>


</beans>