
body {
    font-family: tahoma,arial,sans-serif;
    font-size:11px;
}
a {
    color:#15428B;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#header {
    background: #FFFFFF url(../images/navGradientOrange2.gif) repeat-x center;
}

p.status {
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

p.sec-warning {
    font-style: italic;
    text-align: center;
}

#header h1 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 2px 0;
}

#center {
	width: 450px;
    margin: auto;
    padding: 30px 5px 10px 5px;
}

#footer
{
	padding: 5px 0;
	margin: 5px 2px 0 2px;
	text-align: center;
	font-style: italic;
	font-size: 10px;
	color: #666;
	border-top: solid 1px #D0D0D0;
}

#center h1 {
 color: #444;
 background-color: transparent;
 border-bottom: 1px solid #D0D0D0;
 font-size: 16px;
 font-weight: bold;
 margin: 10px 0 2px 0;
 padding: 5px 0 5px 0;
}

#centerDiv {
    margin: auto;
    height: 200px;

}

#centerDiv img {
    text-align: center;
    padding-bottom: 20px;
}

#loginForm {
    padding-top: 15px;
}

#errorMessage {
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 15px;
}

#logoutMessage {
    min-height: 45px;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

#loginAgain {
    text-align: center;
    padding-bottom: 25px;
}

#loginAgain a {
    font-weight: bold;
   
}

div.spaced {
    padding-bottom: 15px;
}

/* FORM Setting */

form {
    width: 400px;
    margin: 0 auto;
}

form fieldset {

    border-color: #C58107;
    border-width: 1px 0 0 0;
    border-style:  none none none;
    padding: 10px;
    margin: 0;
}

form fieldset legend {
    font-size: 10pt;
    font-weight: bold;
    color: #C58107;
    margin: 0;
    padding: 0 5px;
}


label {
    font-size: 9pt;
    font-weight: normal;
    display: block;
    width: 120px;
    float: left;
    padding: 2px 0;

}

label.focused {
    font-weight: bold;
}

form ol {
    padding: 0;
    margin: 0;
}

form li {
    list-style: none;
    padding: 5px 0 2px 0;
    margin: 0;

}

form input.textfield {
    font-size: 9pt;
    width: 200px;
    border: 1px solid #AAA;
    padding: 2px;
}

form input.textfield:focus {

    border: 1px solid #C58107;
}

form li.buttons {
    padding-top: 20px;
    text-align: center;

}

form li.buttons input {
    width: 80px;
    font-size: 9pt;

}

